/* Style for the cart overlay */
.cartOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent gray background */
  display: none; /* Initially hidden */
  z-index: 10; /* Ensure it appears above other content */
}

/* Style for the cart div when displayed */
#cartDiv {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 400px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: none; /* Initially hidden */
  z-index: 20; /* Make sure it's above the overlay */
}

#cartDiv h3 {
  padding-bottom: 24px;
  border-bottom: 1px solid #D9D9D9;
}

.cosProduse {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align items to the top */
  overflow-y: auto; /* Allow scrolling if content overflows */
  height: 60vh;
  padding: 10px; /* Optional: add some padding to prevent content from being cut off at the edges */
}

.cosProduse img {
  width : 105px;
  height: 105px;
  border-radius: 10px;
}

.cosProduse .butonAchizitie {
  width: 135px;
  height: 30px;
  padding: 6px 30px 6px 30px;
  border-radius: 50px 0px 0px 0px;
  border: 1px 0px 0px 0px;
}

.cosProduse .unProdusCos {
  background-color: rgb(255, 255, 255); 
  border: 2px solid #ffffff; 
  border-radius: 6px; 
  box-shadow: 0 3px 6px rgba(3, 3, 3, 0.3); 
  padding: 9px;
  margin: 9px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

.totalDiv {
  padding: 21px 0;
  border-bottom: 1px solid #D9D9D9;
}

.controale-produse {
  display: flex;
  justify-content: space-around;
  padding: 27px 6px
}

.modificariInCos {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.modificariInCos button {
  width: 18px;
  height: 18px;
  font-size: 12px;
  padding-bottom: 2px;
  margin: 15px;
}

.modificariInCos button:first-child {
  margin-left: 0;
}

.top-div {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.cosProduse h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 150px;
}

.stergeProdus {
  align-self: flex-end;
}