@media screen and (max-width: 900px) {
  .nav-right {
    margin-right: 30px;
  }
}
@media screen and (max-width: 450px) {
  header nav .logo {
    margin-left: 15px;
  }
  header nav .pages a {
    margin-right: 42px;
  }
  header nav .cart, #login-icon, .nav-right .favorite-cart {
    width: 30px;
  }
  header nav .pages a:hover {
    font-size: 16px;
    
    margin-right: 42px;
  }
  .nav-right {
    gap: 6px;
    margin-right: 10px;
  }
}