.banner {
  width: 100%;
  aspect-ratio: 4.5 / 1;
  background-image: url("../Assets/dall2.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

.banner h2 {
  font-size: 48px;
  font-weight: 500;
  line-height: 72px;
  color: rgb(239, 224, 196);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.banner p {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: rgb(239, 224, 196);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.banner p span {
  font-weight: 500;
}

main {
  background-color: #f5f5f5;
}

.buttonsMain {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 36px 48px 36px;
}

.pagination {
  display: flex;
  gap: 10px;
}

.pageBlock {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  cursor: pointer;
  background-color: white;
  border: none;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.pageBlock:hover {
  background-color: rgb(234, 202, 143);
  box-shadow: 
    0 0 20px rgba(0, 0, 0, 0.2), 
    0 0 40px rgba(0, 0, 0, 0.1),
    inset 0 0 20px rgba(0, 0, 0, 0.3);
}

.prevPage,
.nextPage {
  width: 100px;
  height: 60px;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  background-color: rgb(239, 224, 196);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.prevPage:hover,
.nextPage:hover {
  background-color: rgb(234, 202, 143);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.1),
    inset 0 0 20px rgba(0, 0, 0, 0.3);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.prevPage:active,
.nextPage:active {
  background-color: rgb(238, 192, 108);
  color: white;
}

.shop-breadcrumb {
  height: 100px;
  background-color: rgba(111, 155, 176);
  display: flex;
  align-items: center;
  padding-left: 100px;
}

.shop-breadcrumb div {
  border-left: 2px solid black;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 30px;
}

.pageBlock.active {
  background-color: rgb(239, 224, 196);
  color: white;
}

.pageBlock.active:hover {
  background-color: rgb(234, 202, 143);
}

.buttonsMain-top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 36px 0 36px;
}

.buttonsMain-top select {
  background-color: rgb(239, 224, 196);

  width: 117px;
  height: 60px;
  border-radius: 10px;
  cursor: pointer;
  border: none;

  font-size: 16px;
  font-weight: 400;
  line-height: 22px;

  text-align: center;
  text-align-last: center;
  text-overflow: hidden;

  border: 0.5px solid white;
}

.buttonsMain-top select {
  text-align: left; /* Align the text in the dropdown options to the left */
}

.buttonsMain-top select option {
  font-size: 15px;
}

.buttonsMain-top select:hover {
  background-color: rgb(234, 202, 143);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.1),
    inset 0 0 20px rgba(0, 0, 0, 0.3);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.buttonsMain-top select:focus {
  outline: none; /* Removes the default outline */
  border: none;
}

.toggleFiltersDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 33px 0 0 0;
}

.toggleFiltersDiv button {
  width: 117px;
  height: 60px;

  background-color: rgb(239, 224, 196);
  border: none;
  border-radius: 10px;

  cursor: pointer;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  padding: 0 15px;

  border: 0.5px solid white;
}

.toggleFiltersDiv button:hover {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.1),
    inset 0 0 20px rgba(0, 0, 0, 0.3);
  background-color: rgb(234, 202, 143);
}
