@media screen and (max-width: 910px) {
  .banner {
    height: 198px;
  }
}

@media screen and (max-width: 870px) {
  .shop-breadcrumb {
    height: 66px;
  }
}

@media screen and (max-width: 450px) {
  .pageBlock {
    width: 45px;
    height: 45px;

    font-size: 18px;
  }
  .prevPage,
  .nextPage {
    width: 80px;
    height: 45px;
    font-size: 16px;
    font-weight: 300;
  }
  .buttonsMain-top select {
    height: 45px;
  }
  .toggleFiltersDiv button {
    height: 45px;
  }
  .shop-breadcrumb {
    padding-left: 60px;
  }
}