.banner {
  position: relative;
  width: 100%;
  aspect-ratio: 2 / 1;
  background-image: url("../Assets/dall.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.banner .banner-overlay {
  position: absolute;
  background-color: rgba(245, 245, 245, 0.9);
  bottom: 10%;
  top: 10%;
  right: 57px;
  max-width: 640px;
  max-height: 440px;
  padding: 62px 56px 37px 41px;
  border-radius: 10px;
}

.banner .banner-overlay span {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 3px;
  color: #333333;
}

.banner .banner-overlay h2 {
  font-size: 52px;
  font-weight: 700;
  line-height: 65px;
  color: rgb(111, 155, 176);
  padding-bottom: 17px;
  user-select: none;
}

.banner .banner-overlay p {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #333333;
  padding-bottom: 46px;
  user-select: none;
}

.banner .banner-overlay button {
  width: 220px;
  height: 72px;
  padding: auto auto;
  background-color: rgb(111, 155, 176);
  border: none;
  color: #f5f5f5;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.banner .banner-overlay button:hover {
  background-color: rgba(245, 245, 245, 0.7);
  color: rgb(111, 155, 176);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.1),
    inset 0 0 20px rgba(0, 0, 0, 0.3);
}

main {
  background-color: #f5f5f5;
}

main h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  color: #3a3a3a;
  padding-top: 60px;
  padding-bottom: 30px;
}

main .buttonMain {
  display: flex;
  justify-content: center;
  height: 160px;
  padding-top: 32px;
  padding-bottom: 81px;
}

.buttonMain button {
  width: 245px;
  height: 48px;
  border: 1px solid rgb(111, 155, 176);
  color: rgb(111, 155, 176);
  background-color: white;
  cursor: pointer;

  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  transition: all 0.15s ease-in-out;
}

.buttonMain button:hover {
  background-color: rgba(111, 155, 176, 0.7);
  color: #f5f5f5;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.1),
    inset 0 0 20px rgba(0, 0, 0, 0.3);
}

.buttonMain button:active {
  background-color: rgba(111, 155, 176, 1);
}

.stergeFavorit {
  display: none;
}
.top-div-favorite .textFavorite {
  justify-content: flex-start;
  gap: 36px;
}

.cart-icon {
  display: none;
}
